#containerC {
    width: 120px;
    height: 177px;
    top: 148px;
    left: 613px;
    background: #1E213A;
    padding: 1px;
    
}

#tomorrow {
font-family: Raleway;
font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0em;
text-align: center;
color: #A09FB1;
margin-top: 15px;


}

#tminmax {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    color: #A09FB1;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    top: 90px;
    position: relative;
    z-index: 2;
}

#clear2img {
    display: flex;
    justify-content: center;
    text-align: center;
    top: 15px;
    position: relative;
    z-index: 2;
}

#letters {
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    color: #E7E7EB;
    width: 220px;
    height: 28px;
    margin-top: 40px;
    margin-left: 30px;
}